@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  color: #fff;
  background-color: #000;
}

.wrapper {
  text-align: center;
}

/* Clip text element */
.clip-text {
  font-size: 200px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  width: 1000px;
  height: 500px;
  display: inline-block;
  margin-left: 0.25em;
  padding: 0.5em 0.75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.clip-text:after {
  position: absolute;
  z-index: -1;
  top: 0.125em;
  right: 0.125em;
  bottom: 0.125em;
  left: 0.125em;
  background-color: #000;
}

.clip-text--no-textzone:before {
  background-position: -0.75em 0;
}

.clip-text--no-textzone:after {
  content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
  background-image: url(https://picsum.photos/480/200?random);
  background-repeat: no-repeat;
}

.clip-text_two {
  background-image: url(https://picsum.photos/480/200?grayscale);
}

.clip-text_tree {
  background-image: url(https://picsum.photos/480/200?grayscale&random=2);
}

.clip-text_four {
  background-image: url(https://picsum.photos/480/200?grayscale&blur=3);
}

.clip-text_five {
  background-image: url(https://picsum.photos/480/200?grayscale);
}

.clip-text_six {
  background-image: url(https://picsum.photos/480/200?random=3);
}

.clip-text_seven {
  background-image: url(https://picsum.photos/480/200?random=4);
}

.clip-text_eight {
  background-image: url(https://picsum.photos/480/200?random=6);
}

.clip-text_nine {
  background-image: url(https://picsum.photos/480/200?random=5);
}

.clip-text_ten {
  background-image: url(https://picsum.photos/480/200?random=7);
}

.clip-text_eleven {
  background-image: url(https://picsum.photos/480/200?random=8);
  background-size: cover;
}

.clip-text_twelve {
  background-image: url(https://picsum.photos/480/200?random=9);
}

.clip-text_thirteen {
  background-image: url(https://picsum.photos/480/200?random=10);
}

.clip-text_fourteen {
  background-image: url(https://picsum.photos/480/200?random=11);
}

.clip-text_fifteen {
  background-image: url(https://picsum.photos/480/200?random=12);
}
