@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-mode: "light";
  --color-dark: black;
  --color-light: white;
  --background: white;
  --text-color: black;
}
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  padding-bottom: 50px;
  color: #222;
  padding: 0;
}
