@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
html,
body {
  min-height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  color: #fff;
  background-color: #000;
}

.clip-text {
  font-size: 200px;
  position: relative;
  width: 1000px;
  height: 500px;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

/* Background */
.clip-text:before {
  position: absolute;
  content: "";
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.clip-text:after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0.125em;
  right: 0.125em;
  bottom: 0.125em;
  left: 0.125em;
  background-color: #000;
}

.clip-text_fourteen {
  background-image: url(https://picsum.photos/480/200?random=11);
}
