@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap");

:root {
  --color-mode: "light";
  --color-dark: black;
  --color-light: white;
  --background: white;
  --text-color: black;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
