.card-container {
  display: flex;
  flex-direction: column;
  margin-left: calc((100% - (20% * 4)) / 4);
  width: 250px;
  height: 350px;
}

.card-image {
  height: 70%;
  cursor: pointer;
}

.card-container .lazy > .card-image {
  visibility: hidden;
}
