.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.item-value {
  margin: 10px;
}
