@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
