@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* .container {
  text-align: center;
} */

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 500px;
}

.progress-container::before {
  content: "";
  background-color: #d8d8d8;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
}

.progress {
  background-image: linear-gradient(45deg, #ff6a00, #ee0979);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  transition: 0.4s ease;
}

.circle-test {
  background-color: #fff;

  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid transparent;
  background: linear-gradient(45deg, #ffffff, #ffffff) padding-box,
    linear-gradient(45deg, #000000, #434343) border-box;
  transition: 0.4s ease;
  z-index: 1;
}

.circle-test.active {
  background: linear-gradient(45deg, #ffffff, #ffffff) padding-box,
    linear-gradient(45deg, #ff6a00, #ee0979) border-box;
}
